.column{
    
    
    width:270px;

    .colTitle{
        color:white;
        background-color: #5A4860;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-left: 13px;
        padding-right: 13px;
        border-bottom: 4px solid;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin-bottom: 2rem;
        width:100%;
        box-sizing: border-box;
    }

    .colBody{
        border-left:1px solid #4a4a4a;
        border-right:1px solid #4a4a4a;
        --tw-border-opacity: 0.5;
        display:flex;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
        padding-bottom:2.5rem;
        min-height:650px;
        
    }
}